#container {
    width: 600px;
    height: 600px;
    border: solid 1px #181818;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-grow: 1;
}

.square {
    border: solid 1px #181818;

    flex-grow: 1;
}
