.main {
    width: 600px;
    height: 600px;
    margin: 0 auto;
}

#container {
    border: solid 1px #181818;
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-grow: 1;
}

.square {
    border: solid 1px #181818;

    flex-grow: 1;
}

.painted {
    background-color: #181818;
}

button {
    border-width: 0px;
    width: 100%;
    padding: 0;
}
